.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  background-color: #e0e9ec;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  aspect-ratio: 1;
  background-color: #bec9cc;
  border: 3px solid #0a1e25;
  border-radius: 12px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5%;
  height: 12.5%;
  border: 1px solid #80898b;
}

.cell:hover {
  background-color: #98c0c9;
}

.stone {
  border-radius: 50%;
}

.infomation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  margin-left: 5%;
}

.showInformation {
  padding: 1rem 2rem;
  margin: 1rem 0;
  font-size: 20px;
  color: #113847;
  text-align: center;
  background-color: #c3c8cc;
  border: double 4px #2c434d;
  border-radius: 16px;
}

@media (width <= 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .board {
    width: 90%;
  }

  .infomation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 1rem;
    margin-left: 0;
  }

  .showInformation {
    font-size: 14px;
  }

  .reset,
  .return {
    justify-content: center;
    width: 80%;
    font-size: 16px;
  }
}
