.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  background-color: #e0e9ec;
}

.title {
  margin: 10%;
  font-size: 50px;
}

.body {
  display: flex;
  flex-direction: column;
}

.game {
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  border: solid 3px #5a5d68;
}

.time {
  display: flex;
  flex-direction: row;
}
